* {
    box-sizing: border-box;
    direction: rtl;
    margin: 0;
    padding: 0;
}

header {
  position: relative;
  height: 800px;
  overflow: hidden;
  background-image: url(photo/660e872fb3572fc6d4ffae485aedfb41.jpg);
  background-size: cover;
}

header .bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

header .content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  padding: 20px;
  top: 40%;
}

/* تغییر ارتفاع روی موبایل */
@media (max-width: 768px) {
  header {
    height: 400px;
  }
}

@media (max-width: 480px) {
  header {
    height: 300px;
  }
}

.logo-img {
  width: 120px;
  height: 180px;
  object-fit: contain;
}

.heder-text {
  color: #780000;
  font-size: 20px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlide 0.8s ease forwards;
  animation-delay: 0.3s;

}

.nav-link {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlide 0.8s ease forwards;
  animation-delay: 0.3s;
  color: #780000;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
}

.nav-link:hover {
  color: white;
  background-color: #780000;
}

@keyframes fadeSlide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo-img {
  width: 120px;
  height: 180px;
  object-fit: contain;
}
.training-container {
    margin: auto;
    padding-inline: 30px;
    background-image: url(photo/169a036c19f6bfc426561446280eae87.jpg);
    background-size: cover;

    padding: 20px;
}

.row .col-md-4 {
    overflow: visible;
}

.training-img-container {
    max-width: 300px;
    margin: 0 auto 20px auto;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.6s ease, box-shadow 0.6s ease;
    animation: fadeUp 0.8s ease-out;
    animation-fill-mode: both;
}

.training-img-container:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    cursor: pointer;




}


.training-img {
    width: 100%;
    height: auto;
    display: block;


}

.training-para-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    overflow-wrap: break-word;

}
.training-h2{
    font-size: 12px;
}
.training-para{
    font-size: 10px;
}
@keyframes fadeUp {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;

    }
}

.card-1 {
    animation-delay: 0.1s;
}

.card-2 {
    animation-delay: 0.3s;
}

.card-3 {
    animation-delay: 0.5s;
}

.card-4 {
    animation-delay: 0.7s;
}

.card-5 {
    animation-delay: 0.9s;
}

.card-6 {
    animation-delay: 1.1s;
}

/* -------------------//footer//--------------------------- */
.footer-section {
    /* margin-top: 40px; */
    box-shadow: 0px 0px 8px 0px #cccccc;
    background: linear-gradient(
  90deg,
  rgba(255, 250, 240, 0.6) 0%,   /* روشن‌ترین کرم */
  rgba(245, 235, 220, 0.5) 25%,  /* کرم روشن قبلی */
  rgba(220, 220, 220, 0.3) 45%,  /* روشن‌تر و کمرنگ‌تر */
  rgba(150, 150, 150, 0.3) 65%,  /* طوسی کمتر و محدودتر */
  rgba(80, 80, 80, 0.2) 80%,     /* تیره کمرنگ‌تر */
  transparent 90%                 /* بقیه فضا روشن بمونه */
),
#d7ccba;





  }
  .footer-first-row{
    margin-top: 10px;
    padding-top: 50px;
  }
  .social-icon-container {
    display: flex;
    margin: 0;
    padding: 0;
    width: 225px;
    justify-content: space-between;
  }
  
  @media(max-width:768px) {
    .social-icon-container {
      margin: 0px auto;
      /* margin-top: 10px; */
    }
  }
  
  .social-media-icon {
    width: 40px;
    height: 40px;
  }
  
  .address-para {
    margin-top: 10px;
  }
  
  .emailbox-para {
    font-size: 18px;
    text-align: center;
  }
  
  /* .email-subscribe-box {
  
     max-width: 400px; 
     margin: 0 auto; 
     padding: 20px; 
     text-align: center; 
     text-align: left;
       
  } */
  
  .email-subscribe-box input[type="email"] {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
  }
  
  .email-subscribe-box button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .email-subscribe-box button:hover {
    background-color: #555;
  }
  
  #message {
    margin-top: 10px;
    font-size: 13px;
    color: green;
  }
  
  ul li {
    list-style-type: none;
  }
  .email-btn{
    background-color: #780000 !important;
  }
  .email-btn:hover{
    background-color: #555;
  }
  .logo-img{
    width: 120px;
    height: 180px;
    object-fit: contain;
  }
  .location-img {
    width: 250px;
    height: 200px;
  }
  
  @media (max-width: 768px) {
    .footer-first-row {
      flex-direction: column;
      text-align: center;
    }
  
  }