* {
  direction: rtl;
}

header {
  position: relative;
  height: 800px;
  overflow: hidden;
}

header .bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

header .content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  padding: 20px;
  top: 40%;
}

/* تغییر ارتفاع روی موبایل */
@media (max-width: 768px) {
  header {
    height: 400px;
  }
}

@media (max-width: 480px) {
  header {
    height: 300px;
  }
}

.logo-img {
  width: 120px;
  height: 180px;
  object-fit: contain;
}

.heder-text {
  color: white;
  font-size: 20px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlide 0.8s ease forwards;
  animation-delay: 0.3s;

}

.nav-link {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlide 0.8s ease forwards;
  animation-delay: 0.3s;
  color: white;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
}

.nav-link:hover {
  color: white;
  background-color: #780000;
}

@keyframes fadeSlide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo-img {
  width: 120px;
  height: 180px;
  object-fit: contain;
}

/* ---------graybox-------- */
main {
background: linear-gradient(
  90deg,
  rgba(255, 250, 240, 0.6) 0%,   /* روشن‌ترین کرم */
  rgba(245, 235, 220, 0.5) 25%,  /* کرم روشن قبلی */
  rgba(220, 220, 220, 0.3) 45%,  /* روشن‌تر و کمرنگ‌تر */
  rgba(150, 150, 150, 0.3) 65%,  /* طوسی کمتر و محدودتر */
  rgba(80, 80, 80, 0.2) 80%,     /* تیره کمرنگ‌تر */
  transparent 90%                 /* بقیه فضا روشن بمونه */
),
#d7ccba;




}


.space-between {

  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 17px;
  font-weight: bold;

}


.gray-box {
  border: 2px solid white;
  border-radius: 40PX;

}


.gray-box-img {
  width: 200px;
  height: 200px;
  border-radius: 40px;
}

.white-box-img-1 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.white-box-img-2 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  right: 80px;
}

.white-box-colors-1 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #abaeb0;
}

.white-box-colors-2 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  right: 80px;
  background-color: #780000;
}
.photo-number{
  color: #780000;
  font-size: 18px;
}
.rs-white-box {
  border-left: 2px solid white;
}

/* ----white-box----- */



.service-btn {
  border-radius: 25px;
  color: white;
  text-decoration: none;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 10px 100px;

}

.education-btn {
  color: white;
  background-color: #780000;
  padding: 10px 100px;
  text-decoration: none;
  align-items: center;
  border-radius: 25px;
}

.education-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: white;
}

.service-btn:hover {
  color: white;
  background-color: #780000;
}

/* ////////////////////services///////////////////////////// */




.masonry {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}

.masonry-item {
  width: calc(25% - 10px);
  margin: 5px;
  border-radius: 6px;
  overflow: hidden;
}



@media (max-width: 768px) {
  .masonry-item {
    width: calc(50% - 10px);
  }
}

@media (max-width: 480px) {
  .masonry-item {
    width: 100%;
  }
}


#goTopBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 12px 16px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

#goTopBtn.show {
  opacity: 1;
  pointer-events: auto;
}

#goTopBtn:hover {
  background-color: #555;
}

.hover-img-1,
.hover-img-2,
.hover-img-3,
.hover-img-4,
.hover-img-5,
.hover-img-6,
.hover-img-7,
.hover-img-8,
.hover-img-9 {
  transition: 0.8s ease-in-out;
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.hover-img-1:hover {
  content: url("img/nail1-hover.webp");
  filter: brightness(1.05);
}

.hover-img-2:hover {
  content: url("img/nail2-hover.jpg");
  filter: brightness(1.05);
}

.hover-img-3:hover {
  content: url("img/nail3-hover.jpg");
  filter: brightness(1.05);
}

.hover-img-4:hover {
  content: url("img/nail4-hover.webp");
  filter: brightness(1.05);
}

.hover-img-5:hover {
  content: url("img/nail5-hover.webp");
  filter: brightness(1.05);
}

.hover-img-6:hover {
  content: url("img/nail6-hover.webp");
  filter: brightness(1.05);
}



.hover-img-8:hover {
  content: url("img/nail8-hover.jpg");
  filter: brightness(1.05);
}

.hover-img-9:hover {
  content: url("img/nail9-hover.webp");
  filter: brightness(1.05);
}







/* -----------------//footer//-------------------------- */
.footer-section {
  /* margin-top: 40px; */
  box-shadow: 0px 0px 8px 0px #cccccc;
}
.footer-first-row{
  margin-top: 10px;
  padding-top: 50px;
}
.social-icon-container {
  display: flex;
  margin: 0;
  padding: 0;
  width: 225px;
  justify-content: space-between;
}

@media(max-width:768px) {
  .social-icon-container {
    margin: 0px auto;
    /* margin-top: 10px; */
  }
}

.social-media-icon {
  width: 40px;
  height: 40px;
}

.address-para {
  margin-top: 10px;
}

.emailbox-para {
  font-size: 18px;
  text-align: center;
}

/* .email-subscribe-box {

   max-width: 400px; 
   margin: 0 auto; 
   padding: 20px; 
   text-align: center; 
   text-align: left;
     
} */

.email-subscribe-box input[type="email"] {
  width: 50%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.email-subscribe-box button {
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.email-subscribe-box button:hover {
  background-color: #555;
}

#message {
  margin-top: 10px;
  font-size: 13px;
  color: green;
}
.email-btn{
  background-color: #780000 !important;
}
.email-btn:hover{
  transition: transform 0.6s ease, box-shadow 0.6s ease !important;
}
ul li {
  list-style-type: none;
}

.location-img {
  width: 250px;
  height: 200px;
}

@media (max-width: 768px) {
  .footer-first-row {
    flex-direction: column;
    text-align: center;
  }

}