* {
  direction: rtl;
}
header {
  position: relative;
  height: 700px;
  overflow: hidden;
}

header .bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

header .content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  padding: 20px;
  top: 40%;
}

/* تغییر ارتفاع روی موبایل */
@media (max-width: 768px) {
  header {
    height: 400px;
  }
}

@media (max-width: 480px) {
  header {
    height: 300px;
  }
}

.logo-img {
  width: 120px;
  height: 180px;
  object-fit: contain;
}

.heder-text {
  color: white;
  font-size: 20px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlide 0.8s ease forwards;
  animation-delay: 0.3s;

}

.nav-link {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlide 0.8s ease forwards;
  animation-delay: 0.3s;
  color: white;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
}

.nav-link:hover {
  color: black;
  background-color: white;
}

@keyframes fadeSlide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo-img {
  width: 120px;
  height: 180px;
  object-fit: contain;
}

/* ---------graybox-------- */
main {

  background-image: url(photo/v960-ning-32.jpg);
  background-size: cover;

}

.space-between {
  border: 1px solid white;

}

.gray-box {

  background-color: rgba(255, 255, 255, 0.3); /* شفافیت سفید */
  backdrop-filter: blur(5px); /* بلور کردن پشت */
  -webkit-backdrop-filter: blur(5px); /* پشتیبانی Safari */
  border-radius: 50px; /* گوشه‌های گرد */
  border: 1px solid rgba(255, 255, 255, 0.2); /* خط حاشیه سبک */}




.gray-box-img {
  width: 170px;
  height: 200px;
  border-radius:40px;
}

.white-box-img {
  width: 50px;
  height: 50px;
}

.rs-white-box {
  border-left: 1px solid white;
}

/* ----white-box----- */
.service-btn{
  border-radius: 25px;
  color: white;
  background-color:  #780000;
  text-decoration: none;
  align-items: center;

}
.education-btn{
border-radius: 25px;
  color: #780000;
 border: #780000 4px solid;
  text-decoration: none;
  align-items: center;

}



/* -----------------//footer//-------------------------- */
.social-icon-container {
  display: flex;
  justify-content: space-between;
}

.social-media-icon {
  width: 40px;
  height: 40px;
}

.address-para {
  margin-top: 10px;
}

.emailbox-para {
  font-size: 18px;
  text-align: center;
}

.email-subscribe-box {

  /* max-width: 400px; */
  /* margin: 0 auto; */
  /* padding: 20px; */
  /* text-align: center; */
  /* text-align: left;
     */
}

.email-subscribe-box input[type="email"] {
  width: 50%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.email-subscribe-box button {
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.email-subscribe-box button:hover {
  background-color: #555;
}

#message {
  margin-top: 10px;
  font-size: 13px;
  color: green;
}

ul li {
  list-style-type: none;
}